@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loadingIcon {
    animation: spin 1s linear infinite;
  }
  
.stylesButoon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #eb2929;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    transition: .3s;
}