
.stylesContentCardPersonal{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
  
  }