
.stylesContentPersonal{
    position: relative;
    padding: 10px;
    width: 100%;
    top: 60px;
    min-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    box-sizing: border-box;
}