.stylesButoonModal {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    transition: .9s;
  }

  .stylesButoonModal:hover {
    background-color: rgb(133, 11, 11);
  }
  .mheader{
    background-color: #3A3F49;
    color: #D3D6E0;
    border-color: #eb2929;
  }
  .mBody{
    background-color: #3A3F49;
  }
  .mFooter{
    background-color: #3A3F49;
    border-color: #eb2929;
  }