.stylesContenedorButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb2929;
    border-radius: 20px;
}
.stylesButoon{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #eb2929;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer; 
    transition: .3s;;
}
.stylesRegistroPersonal{
    color: #D3D6E0;
    border-radius: 20px;
    background-color: #3A3F49;
}