.stylesButoon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #eb2929;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    transition: .3s;
}

.stylesCardSaveFolder{
    background-color: rgb(0, 0, 0, .2);
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;

}

.stylesInputGuardarFile{
    display: block;
}

.stylesInputGuardarFile:hover{
    cursor: pointer;
}
