.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: ${loading ? 'block' : 'none'};
}

.spinner-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.stylesTableArchiveJose{
  width: 100%;
}
.stylesContentDatas{
    border: 2px solid black;
}
.excel-table-container {
    margin: 20px;
  }
  
  .stylesHead{
    width: 100%;
    background: #c91b0e;
    position: sticky;
    top: 0;
  }
  
  .excel-table th, .excel-table td {
    border: 1px solid #fffefe;
    padding: 10px;
    text-align: center;
  }
 
  .stylesTh-Td{
    padding: 8px;
  }

  .stylesBody{
    overflow-y: auto;
  }

  .excel-table th {
    background-color: rgba(225, 0, 0, 0.3);
    font-weight: bold;
  }
  
  .white-color {
    color: #f2f2f2;
    width: 200px;
  }
  
  .tables-container {
    display: flex;
    gap: 20px; /* Espacio entre las tablas */
  }

  .styleContentTable{
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
  }
  
  .table-header {
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    z-index: 1;
    background-color: #c91b0e;
    /* Otros estilos de encabezado */
  }
  
  .table-body {
    background-color: rgb(30, 31, 31);
    width: min-content;
    /* Estilos para el cuerpo de la tabla (opcional) */
    /* Otros estilos de cuerpo */
  }
  
  .first-column {
    background-color: #007bff; /* Cambia esto al color de fondo que desees */
    color: white;
  }

  .even-row {
    background-color: #f2f2f2; /* Color para filas pares */
  }
  
  .odd-row {
    background-color: #ffffff; /* Color para filas impares */
  }

  .stylesButoon2 {
    width: 70px;
    display: flex;
    justify-content: left;
    padding: 10px;
    background-color: #eb2929;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    transition: .3s;
}

.autoCompleteBox{
  background-color: #D6D6D6;
  width: 200px;
}

.stylesSugesstionNaps{
  height: 30px;
}


.stylesButoon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #eb2929;
  color: white;
  position:inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer; 
  transition: .3s;
}

.stylesEncabezadoAnalista{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.stylesInput {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}   